{
  "presets": [
    ["env", { "modules": false }],
    [
      "es2015",
      {
        "module": false
      }
    ],
    "react-app",
    "react",
    "stage-2"
  ],
  "env": {
    "production": {
      "plugins": [
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
      ]
    },
    "development": {
      "plugins": [
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
      ]
    }
  },
  "plugins": [
    "transform-decorators-legacy"
  ]
}
