$dark: #000;
$menu-item-color: #818d99;
$menu-item-active-bg: #1890ff;
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #aaa;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    .logo {
        margin-bottom: 0;
        a {
            display: block;
            height: 70px;
            text-indent: -9999px;
            transition: width .2s;
        }
        &.light a,
        &.dark a {
            width: 260px;
            background: center center / 200px 32px no-repeat;
        }
        &.light a {
            background-image: url('../assets/basicLayout/logo_light.png');
        }
        &.dark a {
            background-color: #002140;
            background-image: url('../assets/basicLayout/logo_dark.png');
        }
        &.dark-small a {
            width: 80px;
            background: #002140 url('../assets/basicLayout/logo_dark_small.png') center / 32px no-repeat;
        }
    }
    .info {
        display: flex;
        align-items: center;
        margin-left: auto;
        .tip,
        .qrCode,
        .download {
            width: 16px;
            height: 16px;
            margin-right: 40px;
            background: center center / 16px 16px no-repeat;
            cursor: pointer;
            position: relative;
            .downloadDot {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #f00;
                position: absolute;
                top: -4px;
                right: -2px;
            }
        }
        .tip {
            background-image: url('../assets/basicLayout/tip.png');
        }
        .qrCode {
            background-image: url('../assets/basicLayout/qr_code.png');
        }
        .download {
            background-image: url('../assets/basicLayout/download.png');
        }
        .avatar {
            height: 36px;
            width: 36px;
            line-height: 36px;
            background: #febc4e;
            border-radius: 50%;
            cursor: pointer;
        }
        .avatar-image {
            display: block;
            width: 36px;
            height: 36px;
            background: url('../assets/basicLayout/sidebar_icon_employee_highlight.png') no-repeat center;
            background-size: 20px 20px;
        }
        :global {
            .ant-popover {
                .ant-popover-inner-content {
                    padding: 4px 6px;
                    .ant-menu {
                        border-right: 0;
                        .ant-menu-item {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.store-element {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.sider {
    :global {
        .ant-menu {
            .ant-menu-submenu,
            .ant-menu-item a {
                background-position: 30px 15px;
                background-size: 18px 18px;
                background-repeat: no-repeat;
            }
            .ant-menu-submenu {
                &:hover,
                &.ant-menu-submenu-open {
                    color: #fff !important;
                } //  4.13 yc 修改支持3级菜单
                .ant-menu-submenu-arrow,
                &.ant-menu-submenu-open .ant-menu .ant-menu-submenu-arrow {
                    right: 28px;
                    margin-top: 1px;
                    &::before,
                    &:after {
                        width: 8px;
                    }
                    &::before {
                        transform: rotate(-45deg) translateX(3px);
                    }
                    &:after {
                        transform: rotate(45deg) translateX(-3px);
                    }
                }
                &.ant-menu-submenu-open .ant-menu-submenu-arrow,
                &.ant-menu-submenu-open .ant-menu .ant-menu-submenu-open .ant-menu-submenu-arrow {
                    margin-top: 0;
                    &::before {
                        transform: rotate(45deg) translateX(3px);
                    }
                    &:after {
                        transform: rotate(-45deg) translateX(-3px);
                    }
                }
            }
            .ant-menu-item {
                i {
                    float: left;
                    line-height: 50px;
                    padding-left: 40px;
                }
                a {
                    color: $menu-item-color;
                    &:hover,
                    &.active {
                        color: #fff;
                    }
                    &.active {
                        background-color: $menu-item-active-bg;
                    }
                }
            }
        }
    }
    .remind {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #f74052;
        border-radius: 50%;
        transform: translate3d(0, -8px, 0);
    }
}

.exportLog {
    :global {
        .ant-popover-inner-content {
            padding: 0 8px;
            max-height: 260px;
            overflow: auto;
        }
    }
}

:global {
    #root {
        >.ant-layout {
            // 在这里设置 height: 100% 会导致 Select 组件的选项不随着页面滚动
            .ant-layout-header {
                position: fixed;
                z-index: 10;
                width: 100%;
                height: 70px;
                line-height: 70px;
                padding-left: 0;
                padding-right: 30px;
                background: #fff;
                box-shadow: 0 2px 5px rgba($dark, .05);
                +.ant-layout-content,
                +.ant-layout.ant-layout-has-sider {
                    margin-top: 70px;
                    min-height: calc(100vh - 70px);
                }
            }
            .ant-layout.ant-layout-has-sider {
                .ant-layout-sider {
                    position: fixed;
                    top: 70px;
                    bottom: 0;
                    background: #001529;
                    box-shadow: 1px 0 4px rgba(51, 51, 51, .8);
                    &.ant-layout-sider-collapsed+.ant-layout {
                        margin-left: 80px;
                    }
                    &.ant-layout-sider-collapsed {
                        .ant-layout-sider-children {
                            .ant-menu {
                                .ant-menu-submenu,
                                .ant-menu-item {
                                    i {
                                        padding-left: 34px;
                                    }
                                    a {
                                        background-position: 28px 15px;
                                        background-size: 20px 20px;
                                        span {
                                            opacity: 0;
                                        }
                                    }
                                }
                                .ant-menu-submenu .ant-menu-submenu-title {
                                    width: 80px;
                                    padding: 0 !important;
                                }
                            }
                        }
                    }
                    .ant-layout-sider-children {
                        height: calc(100vh - 70px - 48px);
                        padding-top: 25px;
                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            display: none
                        }
                        .ant-menu {
                            border-right: 0;
                            .ant-menu-submenu {
                                color: $menu-item-color;
                                .ant-menu-submenu-title {
                                    height: 50px;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                    padding-left: 40px !important;
                                    padding-right: 30px !important;
                                    line-height: 50px;
                                }
                                .ant-menu-sub .ant-menu-item a {
                                    padding-left: 65px !important;
                                } //  4.13 yc 修改支持3级菜单
                                .ant-menu .ant-menu-sub .ant-menu-item a {
                                    padding-left: 95px !important;
                                }
                            }
                            .ant-menu-item {
                                line-height: 50px;
                                height: auto;
                                margin-top: 5px;
                                margin-bottom: 5px;
                                padding-left: 0 !important;
                                padding-right: 0 !important;
                                &.ant-menu-item-selected {
                                    background-color: transparent;
                                    color: $menu-item-color;
                                    i {
                                        color: #fff;
                                    }
                                }
                                a {
                                    line-height: inherit;
                                    height: 50px;
                                    padding-left: 65px;
                                    padding-right: 30px;
                                }
                            }
                        }
                    }
                    .ant-layout-sider-trigger i {
                        vertical-align: middle;
                        &::before,
                        &:after {
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 1.5px;
                            background: $menu-item-color;
                            border-radius: 2px;
                        }
                        &::before {
                            transform: rotate(-45deg) translateX(3px);
                        }
                        &:after {
                            transform: rotate(-135deg) translateX(-3px);
                        }
                    }
                    &.ant-layout-sider-collapsed {
                        .ant-layout-sider-trigger i {
                            &::before {
                                transform: rotate(-135deg) translateX(3px);
                            }
                            &:after {
                                transform: rotate(-45deg) translateX(-3px);
                            }
                        }
                    }
                }
                .ant-layout {
                    margin-left: 260px;
                    background: #f2f2f2;
                    transition: margin-left .2s;
                    .ant-layout-content {
                        position: relative;
                        margin: 30px;
                        .ant-card {
                            border-color: #efefef;
                        }
                    }
                    .ant-layout-footer {
                        padding: 0 30px 20px;
                        color: #888;
                        font-size: 12px;
                        text-align: center;
                        background: transparent;
                    }
                }
            }
            .ant-breadcrumb {
                margin-bottom: 10px; // font-size: 12px;
            }
        }
    }
    .ant-menu-submenu .ant-menu {
        .ant-menu-item a {
            color: $menu-item-color;
            &:hover,
            &.active {
                color: #fff;
            }
        }
    }
    .ant-menu-inline-collapsed-tooltip a {
        color: #fff !important;
    }
}