.header {
    display: flex;
    .logo {
        margin-bottom: 0;
        a {
            display: block;
            height: 70px;
            text-indent: -9999px;
            transition: width .2s;
        }
        &.light a,
        &.dark a {
            width: 260px;
            background: center center / 200px 32px no-repeat;
        }
        &.light a {
            background-image: url('../../src/assets/basicLayout/logo_light.png');
        }
        &.dark a {
            background-color: #002140;
            background-image: url('../../src/assets/basicLayout/logo_dark.png');
        }
        &.dark-small a {
            width: 80px;
            background: #002140 url('../../src/assets/basicLayout/logo_dark_small.png') center / 32px no-repeat;
        }
    }
    .info {
        display: flex;
        align-items: center;
        margin-left: auto;
        .tip,
        .qrCode,
        .download {
            width: 16px;
            height: 16px;
            margin-right: 40px;
            background: center center / 16px 16px no-repeat;
            cursor: pointer;
            position: relative;
            .downloadDot {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #f00;
                position: absolute;
                top: -4px;
                right: -2px;
            }
        }
        .tip {
            background-image: url('../../src/assets/basicLayout/tip.png');
        }
        .qrCode {
            background-image: url('../../src/assets/basicLayout/qr_code.png');
        }
        .download {
            background-image: url('../../src/assets/basicLayout/download.png');
        }
        .avatar {
            height: 36px;
            width: 36px;
            line-height: 36px;
            background: #febc4e;
            border-radius: 50%;
            cursor: pointer;
        }
        .avatar-image {
            display: block;
            width: 36px;
            height: 36px;
            background: url('../../src/assets/basicLayout/sidebar_icon_employee_highlight.png') no-repeat center;
            background-size: 20px 20px;
        }
    }
}

.store-element {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.exportLog {
    :global {
        .ant-popover-inner-content {
            padding: 0 8px;
            max-height: 260px;
            overflow: auto;
        }
    }
}

body {
    :global {
        .ant-popover {
            .ant-popover-inner-content {
                padding: 4px 6px;
                .ant-menu {
                    border-right: 0;
                    .ant-menu-item {
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}