.modal-form {
    .sub-title {
        width: 100%;
        height: 30px;
        background: #eee;
        padding-left: 5px;
        line-height: 30px;
    }
    .form-box {
        padding: 5px 0 10px 0;
        :global {
            .ant-form-item {
                margin: 7px 20px;
                position: relative;
                label {
                    width: 120px;
                    display: inline-block;
                    text-align: right;
                }
                input {
                    height: 30px;
                    width: 250px;
                }
                textarea {
                    width: 300px;
                    height: 35px; // resize: none;
                }
            }
        }
    }
    :global {
        .ant-form-explain {
            font-size: 12px;
            margin-top: -1px; //display: inline-block;
        }
        .ant-select-selection__rendered {
            width: 200px;
        }
        .ant-input {
            font-size: 12px;
        }
        .ant-select-selection--single {
            height: 30px; //width: 200px;
        }
        .ant-select-selection__rendered {
            line-height: 30px
        }
        .ant-modal-footer {
            text-align: center;
        }
    }
}