.container {
  .nav {
    height: 30px;
    line-height: 30px;
    background: #f8f8f8;
    border-radius: 3px;
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .text {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 15px;
  }
  :global {
    .ant-form-item {
      margin-bottom: 10px;
    }
  }
}
